@using iTi_day_17_lab.Models.FirmDatabase
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Project>

<div>
    <center>
        <h1>Our Projects</h1>
        <p></p>
    </center>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row"><a class="row-button" href="/Project/GetById/@item.Id">@item.Id</a></th>
                <td>@item.Name</td>
                <td>@item.Location</td>
                <td>@item.Department?.Name</td>
            </tr>
        }
    </tbody>
</table>