@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
        <center>
        <div style="font-family: Lotion; font-size:larger">
            <p>This is a .NET fullstack project</p>
            <p>excited to see where it is going</p>
        </div>
        </center>
    <p></p>
    </body>
</html>
